
<div ng-controller="driverRegistrationCtrl" name="driverRegistration">

    <!-- START PROFILE FIELDS -->


    
    <fieldset>
           <h3>Residence Address:</h3>
        <div class="fields">
				<div class="row">
					<label for="streetAddress">Street Address:</label>
				    <input type="text" placeholder=" Line 1" />
				</div>
				<div class="row">
					<label for="street-address">Street Address:</label>
					<input type="text" placeholder=" Line 2" />
				</div>
				<div class="row">
					<label for="city">City:</label>
					<input type="text" placeholder=" Mississauga" />
				</div>
				<div class="row">
					<label for="province">Province:</label>
					<input type="text" placeholder=" Ontario" />
				</div>
				<div class="row">
					<label for="potalCode">Postal Code:</label>
					<input type="text" placeholder=" L8P 1X5" />
				</div>
		</div>
    </fieldset>

    <br/>

    <fieldset>
            <h3>Mailing Address:</h3>



        <div class="fields">
				<div class="row">
					<label for="streetAddress">Street Address:</label>
				    <input type="text" placeholder=" Line 1" />
				</div>
				<div class="row">
					<label for="street-address">Street Address:</label>
					<input type="text" placeholder=" Line 2" />
				</div>
				<div class="row">
					<label for="city">City:</label>
					<input type="text" placeholder=" Mississauga" />
				</div>
				<div class="row">
					<label for="province">Province:</label>
					<input type="text" placeholder=" Ontario" />
				</div>
				<div class="row">
					<label for="potalCode">Postal Code:</label>
					<input type="text" placeholder=" L8P 1X5" />
				</div>
		</div>



    </fieldset>

    <!-- END PROFILE FIELDS -->

    <br/>

    <!-- START DRIVER'S LICENSE UPLOAD -->
    <fieldset>
    <h3>DRIVER'S LICENSE</h3>

    <p>Upload your image file in image or pdf format.</p>

    <label>Upload Photo of Driver's License</label><br/>
    <input type="file" name="DriverLicenseImage"/>
    </fieldset>
    <!-- END OF VEHICLE INFO FIELDS -->
    <br/>

     <!-- START TRAVEL HABITS FIELDS -->
    <fieldset>
        <h3>FAVORITE PLACES</h3>

        <div>
            <p>

                <select name="action">
                    <option value="home"><span id="">Home</span></option>
                    <option value="work"><span id="">Work</span></option>
                    <option value="business"><span id="">Business</span></option>
                    <option value="school"><span id="">School</span></option>
                    <option value="leisure"><span id="">Leisure</span></option>
                </select>
            <p>
        		<div class="fields">
				<div class="row">
					<label for="streetAddress">Street Address Line 1:</label>
				    <input type="text" placeholder=" Mavis Road" />
				</div>
				<div class="row">
					<label for="street-address">Street Address Line 2:</label>
					<input type="text" placeholder="" />
				</div>
				<div class="row">
					<label for="city">City:</label>
					<input type="text" placeholder=" Mississauga" />
				</div>
				<div class="row">
					<label for="province">Province:</label>
					<input type="text" placeholder=" Ontario" />
				</div>
				<div class="row">
					<label for="potalCode">Postal Code:</label>
					<input type="text" placeholder=" L8P 1X5" />
				</div>
		</div>
		</div>

		<div>
            <p>

                <select name="action">
                    <option value="home"><span id="">Home</span></option>
                    <option value="work"><span id="">Work</span></option>
                    <option value="business"><span id="">Business</span></option>
                    <option value="school"><span id="">School</span></option>
                    <option value="leisure"><span id="">Leisure</span></option>
                </select>
            <p>
        	<div class="fields">
				<div class="row">
					<label for="streetAddress">Street Address Line 1:</label>
				    <input type="text" placeholder=" Mavis Road" />
				</div>
				<div class="row">
					<label for="street-address">Street Address Line 2:</label>
					<input type="text" placeholder="" />
				</div>
				<div class="row">
					<label for="city">City:</label>
					<input type="text" placeholder=" Mississauga" />
				</div>
				<div class="row">
					<label for="province">Province:</label>
					<input type="text" placeholder=" Ontario" />
				</div>
				<div class="row">
					<label for="potalCode">Postal Code:</label>
					<input type="text" placeholder=" L8P 1X5" />
			</div>
		</div>
		</div>

        <div>
            <p>

                <select name="action">
                    <option value="home"><span id="">Home</span></option>
                    <option value="work"><span id="">Work</span></option>
                    <option value="business"><span id="">Business</span></option>
                    <option value="school"><span id="">School</span></option>
                    <option value="leisure"><span id="">Leisure</span></option>
                </select>
            <p>
            <div class="fields">
				<div class="row">
					<label for="streetAddress">Street Address Line 1:</label>
				    <input type="text" placeholder=" Mavis Road" />
				</div>
				<div class="row">
					<label for="street-address">Street Address Line 2:</label>
					<input type="text" placeholder="" />
				</div>
				<div class="row">
					<label for="city">City:</label>
					<input type="text" placeholder=" Mississauga" />
				</div>
				<div class="row">
					<label for="province">Province:</label>
					<input type="text" placeholder=" Ontario" />
				</div>
				<div class="row">
					<label for="potalCode">Postal Code:</label>
					<input type="text" placeholder=" L8P 1X5" />
			</div>
		</div>
		</div>

    </fieldset>

    <!-- END OF TRAVEL HABITS FIELDS -->

    <br/>

    <!-- START VEHICLE INFO FIELDS -->
    <fieldset>
    <legend>VEHICLE INFORMATION</legend>

    <p>Upload your file in image or pdf format.</p>

    <label>Upload Ownership</label><br/>
    <input type="file" name="ownership"/>
    <br/>
    <br/>

    <label>Upload Insurance</label><br/>
    <input type="file" name="insurance"/>
    <br/>
    <br/>

    <label>Upload Photo of Vehicle</label><br/>
    <input type="file" name="vehiclePhoto"/>
    </fieldset>
    <!-- END OF VEHICLE INFO FIELDS -->
    <br/>


    <fieldset>
    <p>
    <input type="submit" ng-click="register(driver)" value="Submit"/>
    </p>
    </fieldset>

</div>
